@page "/"

<h1>Hello, world!</h1>

<ParseBinary @ref="_bin" InputText="61 CE B1 E3 81 82 F0 9F 90 88"></ParseBinary>

@code {
    ParseBinary? _bin;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
